.active{
    border-left: none !important;
    border-bottom: 3px solid #31f248;
    border-top-left-radius: 5px;
    border-top-right-radius:5px;
    transition: all;
    background-color: rgb(209, 246, 195);
}
